parameters:
	ignoreErrors:
		-
			message: '#^Trait Spatie\\LaravelOptions\\HasSelectOption is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/HasSelectOption.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Providers/ModelProvider.php

		-
			message: '#^Match arm comparison between true and true is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: src/Providers/SelectOptionsProvider.php
